@bg_color : #8dd0d6;
@white:white;
@header_height:30px;
.article{

}
body{
  margin: 0;
}

header{
  height:@header_height;
  background-color: @bg_color;
  color:white;
  width: 100%;
  a{
    color:white;
    text-decoration: none;
  }
  .header_title{
    position:relative;
    left:50%;
  }
}