@cm-padding:20px;
@iterations: 12;

#col {
  background: #cc7680;
}

.inner{
  background-color: #eee;
  margin-left: @cm-padding / 2;
  margin-right: @cm-padding / 2;
  height: 50px;
  border: #999 solid 1px;
}


.mixin-loop (@i,@type) when (@i > 0) {
  .col-@{type}-@{i}{
    width: 100% / (12 / @i );
  }
  .mixin-loop(@i - 1,@type);
}


[class*="col-"] {
  margin-top: @cm-padding;
  float: left;
}

@media (min-width: 769px) {
  .mixin-loop(@iterations,md)
}

@media (max-width: 768px) {
  .mixin-loop(@iterations,ms)
}
