* {
    margin: 0px;
    padding: 0px;
    position: relative;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #10456b;
    display: inline-block;
}

li {
    list-style: none;
}

body {
    background-color: #818181;
    margin-top: 0px;
    font-family: 微软雅黑;
}

#contain {
    height: 1386px;
    width: 892px;
    background-color: white;
    margin: 0 auto;
    padding-left: 44px;
    padding-right: 44px;
    position: relative;
}

main > div {
    overflow: hidden;
}

/* header */
header {
    border-bottom: 2px solid #938e8c;
    height: 61px;
    margin: auto;
    font-size: 14px;
    font-family: 黑体;
    position: relative;
}

header > div {
    position: absolute;
}

#head_left {
    height: 100%;
    width: 130px;
    background-color: #d55d5c;
}

#head_left > span {
    position: absolute;
    bottom: 0px;
    color: #fff;
    left: 5px;
}

#head_right {
    right: 0px;
    bottom: 0px;
    color: #d45e5c;
}

/* top */

#top {
    margin-top: 36px;
}

#img {
    position: relative;
    width: 641px;
    float: left;
}

.cover {
    width: 191px;
    height: 301px;
    position: absolute;
    top: 0px;
    opacity: 0.2;
}

#cover_left {
    left: 0px;
    background-color: green;

}

#cover_right {
    right: 0;
    background-color: red;
}

#top_right {
    width: 203px;
    height: 301px;
    float: right;
    border-top: 2px solid #cc8091;
    position: relative;
}

#about {
    margin-top: 0.25em;
    margin-bottom: 0;
    font-size: 24px;
    color: #000;
    text-decoration: underline;
    font-variant: small-caps;
    /*text-transform: capitalize; 首字母大写*/
    line-height: 32px;
    text-transform: capitalize;
}

#about_bottom {
    line-height: 10px;
    font-size: 12px;
    color: #676767;
    font-family: 楷体;
    margin-top: 3px;
}

#top_digit {
    font-size: 116px;
    color: #75b86b;
    font-style: oblique;
    margin-left: -20px;
}

#top_small_digit {
    font-size: 55px;
    color: #cc8091;
    position: absolute;
    bottom: -11px;
}

#small {
    font-size: 21px;
    position: absolute;
    bottom: 10px;
    color: #cc8091;
    left: 82px;
}

#too_small {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    color: #cc8091;
    left: 82px;
}

/*middle*/
#middle {
    margin-top: 37px;
}

#middle > article {
    float: left;
    height: 190px;
    width: 228px;
    margin-right: 32px;
    /*background-color: #cc8091;*/
}

#middle h2 {
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}

#middle p {
    font-size: 12px;
    line-height: 16px;
    opacity: 0.7;
    margin-top: 8px;
}

#what > h2 {
    color: #418c59;
}

#when > h2 {
    color: #d2994f;
}

#how > h2 {
    color: #cc7680;
}

#how span {
    color: #cd4a48;
    font-style: oblique;
}

/* bottom */
#bottom {
    margin-top: 60px;
    height: 620px;
    position: relative;
}

#bottom > div {
    /*background-color: #75b86b;*/
    height: 100%;

}

#bottom_left {
    width: 411px;
}

#bottom_right {
    position: absolute;
    width: 458px;
    right: 0;
    top: 0;
}

.yellow_head {
    color: #f5e327;
}

#bottom_title {
    font-family: 黑体;
    font-weight: bold;
    color: #11456b;
    font-size: 36px;
    height: 175px;
    border-bottom: solid 2px #11456b;
    margin-left: 2px;
}

#bottom_title span {
    font-size: 42px;

}

#bottom_title .yellow_head {
    font-size: 72px;
    font-style: oblique;
}

#second_line {
    line-height: 16px;
}

#bottom_left section {
    padding-top: 10px;
    font-size: 12px;
    color: #767777;
    font-family: 宋体;
    line-height: 16px;
    text-indent: 2em;
}
#bottom_left section:first-letter{
    font-size: 70px;
    color: #f5e327;
    font-family: "微软雅黑";
    line-height: 70px;
    float: left;
    padding-right: 10px;
}
section >p:first-child{
    text-indent: 0em;
}

#bottom_left img {
    float: right;
    margin-right: 3px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
}

#bottom figure {
    position: relative;
    height: 275px
}

#bottom_right figure div {
    height: 61px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /*ba: 0.3;*/
    position: absolute;
    bottom: 0;
    /*height: 55px;*/
}

#bottom_right figure p {
    height:44px;
    border-left: 3px solid #72b16a;
    color: white;
    font-size: 26px;
    margin-top: 8px;
    margin-left: 30px;
    padding-left: 10px;
}

#bottom_right figure p span {
    color: #72b16a;
    font-style: oblique;
    font-size: 12px;
    font-family: 黑体;
}

#bottom_right_block {
    height: 318px;
    width: 459px;
    background-color: #eeedd6;
    margin-top: 30px;

}
#bottom_right_block ul{
    font-size: 14px;
    font-family: 宋体;
    text-align: left;
    color: #5a5b5b;
    padding-top: 30px;
    /* line-height: 20px; */
    padding-left: 40px;
}
#bottom_right_block ul li{
    margin-bottom: 20px;
}
#br_left{
    height: 160px;
    width: 260px;
    background-color: #d55d5c;
    position: absolute;
    bottom: 0;
    left:0;
}

.sp{
    font-style: oblique;
}

.zero{
    font-size: 110px;
    color: #fff;
    border-right: solid 2px white;
    height: 86px;
    width: 70px;
    line-height: 0.75;
    margin-left: 15px;
    margin-top: 35px;
}
.nums{
    font-size: 21px;
    line-height: 24px;
    font-family: 黑体;
    font-style: oblique;
    position: absolute;
    top: 5px;
    right: 10px;
    color: white;
}

.hello{
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    top: 58px;
    left: 93px;
    color: white;
}
#br_right{
    position: absolute;
    bottom: -30px;
    right: -18px;

}
#br_right p{
    width: 200px;
    font-family: 黑体;
    line-height: 16px;
    font-size: 14px;
    color: #5a5b5b;
    text-indent: 3em;
}

blockquote:before{
    font-size: 72px;
    font-family: 黑体;
    color: #d45d5c;
    content: open-quote;
    position: relative;
    bottom: -65px;
    left: -40px;
}
blockquote:after{
    font-size: 72px;
    font-family: 黑体;
    color: #d45d5c;
    content: close-quote;
    position: relative;
    bottom: 20px;
    right: -130px;
}

/*footer*/
footer {
    height: 55px;
    width: 892px;
    position: absolute;
    bottom: 0px;
    margin-bottom: 0;
}

address{
    font-size: 12px;
    font-family: 黑体;
    font-style: normal;
    float: right;
    color: #d45d5c;
}